body{
	
}

.wrapper{
	width:100%;
	margin:auto;
	height:100vh -100px;

	
	
}

/*nav bar styling*/

.main_nav{
	position:fixed;
	top:0;
	width:100%;
	background-color: #ffffff;
	height:95px;
	z-index: 3;
}


nav ul li{
	display:inline-block;

}

nav ul {
	text-align: center;
	
	position: relative;
	top:35px;
}

nav ul li a{
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
	font-size: 14px;
	color:#000000;
	text-decoration: none;
	padding-bottom:10px;

}

/*:HOVER*/

/*main nav hover styling*/
nav ul li a:hover{
	text-decoration: none;
	border-bottom: solid 3px #ED4A62;
}

/*Footer hover styling*/
.contact_link:hover{
	text-decoration: none;
	border-bottom: solid 1px #ffffff;
	}

#social_networks a:hover{
	border-bottom: solid 1px #ED4A62;
}


/*Main section on index.html*/

.main_welcome{
	height: 680px;
}

#main_crayons_image{
	width:100%;
	height:680px;
	position:relative;
	top:60px;
	display: block;
	z-index: -1;
}


/*Logo*/

.logo_div{
	z-index:1 ;
	position: relative;
	bottom:500px;
	
}

.logo_image{
	z-index:1;
	display: block;
	opacity: 0.8;
	
	margin: 0 auto;
	
}

/*welcome quote*/

.quote_background{
	z-index: 1;
	background-color: black;
	max-width:950px;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
	border-radius: 4px;
}

.welcome_quote{
	z-index: 1;
	color:white;
	font-size: 35px;
	text-align: center;
	padding:5px;
}

/*HEADING Welcome Hover*/
.welcome_hover{
	font-size:85px;
	color:#ffffff;
	text-align: center;
	z-index: 1;
	margin-top: 40px;
	padding-left: 35px;
}

/*About me section*/

.about_me{
	min-width:100%;
	height:680px;
	
	display: block;
}



/*FLEXBOX ABOUT_ME*/

.about_me_flex_container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	felx-grow:1;
	justify-content:space-around;
	width: 100%;
	margin-top: 65px;
	

}

.sizing_images1 {
	padding-left:20px;
}

.bio_flex_item2{

	background-image: url("images/pinned.png");
	background-repeat: no-repeat;
	height:450px;
	width:550px;

}
.bio_text_block{
	padding-top: 18px;
	margin: auto;
	width:350px;
	display: block;
}
.bio_text_block h3{
	margin-bottom: 0px;
}



.intro_bio {
	font-weight: bold;
	margin-bottom:3.5px ;
	font-size: 18px;
	text-align: center;
}

.main_text_bio{
	font-size: 15px;
	text-align: center;
	

}



.contact_button{
	height:40px;
	width:150px;
	border:solid 5px #ED4A62;
	background-color: #ffffff;
	border-radius: 5px;
	display: block;


	

}
.contact_button h4{
	margin:auto;
	color:#ED4A62;

}


/*About me light blue gradient background*/

.blue_gradient{
	background-image: 
		linear-gradient(#429C9D, #FFFFFF);

}

/*H2 PAGE HEADINGS*/
h2{
	font-size:32px;
	color:#ffffff;
	z-index: 1;
	border-bottom: solid 3px #ffffff;
	width:200px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;

}

h3{
	color:#EF8C30;
	font-weight:bold;
	font-size: 28px;

}

/*flex container button*/

.button_flex_contianer{
	display: flex;
	
}

.contact_button{
	margin: auto;
}

/*Footer styling*/

#footer{
	background-color: black;
	height:100px;
	z-index: 10;

}

#say_hello{
	position: relative;
	top:45px;
	left:69px;

}

#social_networks{
	position: relative;
	top:15px;
}

#envelope_icon{
	font-size: 17px;
}



ul li.twitter p{
	margin-right: -4px;
}

#say_hello p{
	font-weight: bold;
	color: #ffffff;
	font-size:15px;
}

.contact_link{
	color:#ED4A62;
	font-size: 15px;
}

#social_networks ul{

	text-align: right;
	margin-right: 70px;
	list-style: none;
	
}


#social_networks a{
	text-decoration: none;
	color:#ffffff;
	font-weight: bold;
	font-size: 15px;
	margin-left:20px;
	
	}


